<% include partials/page-top %>


  <!-- game -->
  <div class="row justify-content-center text-center mt-4" id="gameBoard">
    <div class="col">
		  <h2 class="mb-4 mx-2">Let the blood bath begin!</h2>
  		<ul class="list-unstyled">
  			<li class="mt-5"><button type="button" class="btn btn-xl btn-primary play">Play <i class="fas fa-play-circle"></i></button></li>
  			<li class="mt-4"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#instructionsModal">Instructions <i class="fas fa-info-circle"></i></button></li>
  		</ul>
    </div>
	</div>

  <% include partials/instructions %>


<% include partials/page-bottom %>
