<% include partials/page-top %>


  <!-- game -->
  <div class="row justify-content-center text-center mt-4" id="gameBoard">
    <div class="col">
      <p class="my-4">Welcome to Movie Beatdown. The sorting game dedicated to <a href="http://www.afi.com/100Years/movies10.aspx" target="_blank">AFI's 100 Greatest American Films of All Time</a>. To sort all 100 will take 4,950 battles. To try the mini game, click Play below.</p>
		  <h2 class="mb-4 mx-2">Let the blood bath begin!</h2>
  		<ul class="list-unstyled">
  			<li class="mt-5"><button type="button" class="btn btn-xl btn-primary play">Play <i class="fas fa-play-circle"></i></button></li>
  			<li class="mt-4"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#instructionsModal">Instructions <i class="fas fa-info-circle"></i></button></li>
  		</ul>
    </div>
	</div>

  <% include partials/instructions %>


<% include partials/page-bottom %>
