<% include partials/page-top %>


  <div class="row">

    <% if(user.image) { %>
      <div class="col-md-2 col-lg-1 mt-5 text-center text-md-left"><img src="<%= user.image %>" alt="<%= user.username %>"></div>
    <% } %>

    <div class="col-md-10 col-lg-11 mt-1 mt-md-5 text-center text-md-left"><h2><%= user.username %></h2></div>

  </div>


<% include partials/page-bottom %>
