<% include partials/page-top %>


  <div class="row">

    <% if(user.image) { %>
      <div class="col-md-2 col-lg-1 mt-5 mt-md-2 text-center text-md-left"><img src="<%= user.image %>" alt="<%= user.username %>"></div>
    <% } %>

    <div class="col-md-10 col-lg-11 mt-5 mt-md-2 text-center text-md-left"><h2><%= user.username %></h2></div>

  </div>

  <!-- game -->
  <div class="row justify-content-center text-center mt-4" id="gameBoard">
    <div class="col">

      <p>Ready to take your game to the next level? Enter the American Film Institute's Top 100 American Films of all time tournament. This is no small task. It will require <strong>4,500 battles</strong>. Don't worry you can save your game at any time and come back and pick it up right where you left off. Only got a couple of minutes? That's enough for up to 50 battles.</p>

		  <h2 class="mb-4 mx-2">Let the blood bath begin!</h2>

  		<ul class="list-unstyled">
  			<li class="mt-5"><button type="button" class="btn btn-xl btn-primary play">Start <i class="fas fa-play-circle"></i></button></li>
  			<li class="mt-4"><button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#instructionsModal">Instructions <i class="fas fa-info-circle"></i></button></li>
  		</ul>
    </div>
	</div>

  <% include partials/instructions %>


<% include partials/page-bottom %>
