<% include partials/page-top %>


  <h2 class="my-4"><%= title %></h2>

  <p><a href="/auth/google">Google+</a></p>

  <p><a href="/auth/facebook">Facebook</a></p>


<% include partials/page-bottom %>
