<% include partials/page-top %>


  <h2 class="my-4"><%= title %></h2>

  <p>We need a way to track your progress. We will never do anything with your information except maybe try to pronounce your name poorly.</p>

  <p class="text-center mt-4"><a href="/auth/google" class="btn btn-lg btn-primary google"><i class="fab fa-google mr-1"></i> Google</a></p>

  <p class="text-center"><a href="/auth/facebook" class="btn btn-lg btn-primary facebook"><i class="fab fa-facebook-f mr-1"></i> Facebook</a></p>


<% include partials/page-bottom %>
